# Node modules
node_modules/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build output
out/
dist/
release/

# Compiled files
*.lock
*.tsbuildinfo

# Dependency directories
jspm_packages/
bower_components/

# Miscellaneous
.DS_Store
Thumbs.db
*.tgz
.env

# Built files
build/
temp/
tmp/
.cache/
.webpack/
webpack-cache/

# Coverage directory used by tools like jest
coverage/

# Electron Forge cache
.forge-cache/
.forge/

# Mac system files
.DS_Store

# VSCode settings
.vscode/

# Webpack files
webpack.config.js

# TailwindCSS output
tailwind.config.js
postcss.config.js

# Other configurations
babel.config.js
.babelrc

# Sentry CLI token file
.sentryclirc

# Lock files
package-lock.json
yarn.lock

# SASS cache files
.sass-cache/

# Local environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace

# ESLint cache
.eslintcache

# Optional npm cache directory
.npm

# TypeScript output
*.tsbuildinfo

# Ignore the whole Electron app's /resources/ directory
app/resources/

# Ignore specific file for Firebase configuration
firebase.js
